<div layout="row"   layout-padding="" ng-controller="formCtrl" ng-app="formApp">

        
<md-dialog-content>
<div flex="100" style="width:100%;">
<h4 >Select additional fields5</h4>
</div>
<div>
 <md-checkbox ng-model="data.cb15" aria-label="Checkbox 2" ng-true-value="'yup'" ng-false-value="'nope'" ng-change="modelInputField(data.cb15);" >
  Model
 </md-checkbox>
</div>
<div>
 <md-checkbox ng-model="data.cb16" aria-label="Checkbox 2" ng-true-value="'yup'" class="dotted" ng-false-value="'nope'" ng-change="makelInputField(data.cb16);">
    Make
 </md-checkbox>
 </div>
 <div>
 <md-checkbox ng-model="data.cb3" aria-label="Checkbox 2" ng-true-value="'yup'" class="dotted" ng-false-value="'nope'" ng-change="yearInputField(data.cb3);">
    Year
 </md-checkbox>
 </div>
 <div>
 <md-checkbox ng-model="data.cb4" aria-label="Checkbox 2" ng-true-value="'yup'" class="dotted" ng-false-value="'nope'" ng-change="companyInputField(data.cb4);">
    Company
 </md-checkbox>
 </div>
 <div>
 <md-checkbox ng-model="data.cb5" aria-label="Checkbox 2" ng-true-value="'yup'" class="dotted" ng-false-value="'nope'" ng-change="fileInputField(data.cb5);">
    File upload
 </md-checkbox>
 </div>
 <div>
 <md-checkbox ng-model="data.cb6" aria-label="Checkbox 2" ng-true-value="'yup'" class="dotted" ng-false-value="'nope'" ng-change="locationInputField(data.cb6);">
    Location
 </md-checkbox>
 </div>
 <div>
 <md-checkbox ng-model="data.cb7" aria-label="Checkbox 2" ng-true-value="'yup'" class="dotted" ng-false-value="'nope'" ng-change="colorInputField(data.cb7);">
    Color
 </md-checkbox>
 </div>
 <div>
 <md-checkbox ng-model="data.cb8" aria-label="Checkbox 2" ng-true-value="'yup'" class="dotted" ng-false-value="'nope'" ng-change="startInputField(data.cb8);">
    Start
 </md-checkbox>
 </div>
 <div>
 <md-checkbox ng-model="data.cb9" aria-label="Checkbox 2" ng-true-value="'yup'" class="dotted" ng-false-value="'nope'" ng-change="endInputField(data.cb9);">
    End
 </md-checkbox>
 </div>
 <div>
 <md-checkbox ng-model="data.cb10" aria-label="Checkbox 2" ng-true-value="'yup'" class="dotted" ng-false-value="'nope'" ng-change="checkboxInputField(data.cb10);">
    Checkbox
 </md-checkbox>
 </div>
 <div>
 <md-checkbox ng-model="data.cb11" aria-label="Checkbox 2" ng-true-value="'yup'" class="dotted" ng-false-value="'nope'" ng-change="radioInputField(data.cb11);">
    Radio
 </md-checkbox>
 </div>
 <div>
 <md-checkbox ng-model="data.cb12" aria-label="Checkbox 2" ng-true-value="'yup'" class="dotted" ng-false-value="'nope'" ng-change="laptopInputField(data.cb12);">
    Laptop
 </md-checkbox>
</div>
   </md-dialog-content>

   </div>